<div class="d-flex flex-column justify-content-center align-items-center container my-5">
    <p class="display-6 fw-bold">Jobs Portal</p>
    <div>
        <form [formGroup]="jobForm" class="d-flex border p-3 rounded bg-secondary-subtle">

            <div class="d-flex flex-column">
                <mat-form-field appearance="fill">
                    <mat-label>Enter job Role </mat-label>
                    <input formControlName="role" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter Department </mat-label>
                    <input formControlName="dept" matInput>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter job description </mat-label>
                    <input type="text-area" formControlName="description" matInput>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center justify-content-center" style="width: 200px;">
                <button type="submit" class="btn btn-lg btn-success" (click)="createJob()">Create Job</button>
            </div>
        </form>
    </div>
    <div class="my-2">
        <mat-expansion-panel class="mt-2" *ngFor="let job of jobs;index as i"  hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                   <div class="d-flex justify-content-between"> {{i+1}}  &nbsp;&nbsp;  {{job.jobId}}</div>
                </mat-panel-title>
                <mat-panel-description>
                    <div class="d-flex justify-content-between w-100">
                    <p>{{job.role}}</p>
                    <button class="btn btn-sm btn-danger" (click)="deleteJob(job.jobId)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                      </svg></button>
                </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Applicant Id</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Skills</th>
                        <th scope="col">Certifications</th>
                        <th scope="col">Career Objective</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let applicant of job.applicants;index as j">
                        <th scope="row">{{j+1}}</th>
                        <td>{{applicant.applicantId}}</td>
                        <td>{{applicant.firstName}} + {{applicant.lastName}}</td>
                        <td>{{applicant.email}}</td>
                        <td><span *ngFor="let skill of applicant.skills">{{skill}} </span></td>
                        <td><span *ngFor="let certificate of applicant.Certifications">{{certificate}} </span></td>
                        <td>{{applicant.careerObjective}}</td>
                        <td><button class="btn btn-success" (click)="approve(applicant.applicantId)">Approve</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </mat-expansion-panel>
    </div>


</div>