/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'myFont';
    src: url('./assets/Lato-Black.ttf');
}
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html{
    font-family: 'myFont';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
