<div class="container-fluid">
    <img class="rounded" src="https://images.pexels.com/photos/5673502/pexels-photo-5673502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="100%" alt="">
    <div class="container-fluid mt-3">
    <p class="display-5">Job Postings</p>
    <div class="d-flex justify-content-start gap-5 my-3 pb-5">
        <mat-card *ngFor="let job of jobs" class="example-card w-25">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Role : {{job.role}}</mat-card-title>
                <mat-card-subtitle>Dept : {{job.dept}}</mat-card-subtitle>
                <mat-card-subtitle>JobId : {{job.jobId}}</mat-card-subtitle>
                <mat-card-subtitle>ManagerId : {{job.managerId}}</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              About the job : {{job.description}}
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button (click)="openDialog(job)">APPLY</button>
              </mat-card-actions>
          </mat-card>
    </div>
</div>
</div>